<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span id="te"></span>
<button type="submit" onclick="AjaxSend()">提交</button>
<script src="/static/JavaScript/jquery-1.8.3.min.js"></script>
<script>
    function AjaxSend() {
        $.ajax({
            url: "../test/",
            type: "POST",
            data: {
                "user-name": "test successfully",
            },
            success: function (return_data) {
                if (return_data === "ok") {
                    alert("ok!!!")
                } else {
                    $("#te").text("not ok")
                }
            }
        })
    }

</script>
</body>
</html>